.AddNewContactTitle {
    text-align: center;
    font-size: 30px;
}

.AddContactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AddContactForm input {
    margin: 10px 0;
    padding: 15px;
    font-size: 24px;
}

button {
    margin: 20px 30px;
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
}

img {
    width: 300px;
    height: 300px;
}

.PhotoPreviewWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PhotoPreview__text {
    font-size: 30px;
    margin: 50px 0;
}