.ModalWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    font-size: 30px;
}

.ModalWrapper__links {
    display: block;
    margin: 10px;
}

.ModalWrapper__icons {
    color: #000;
    margin-right: 20px;
    font-size: 30px;
}

.ModalWrapper__edit-btn, .ModalWrapper__delete-btn {
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    transition: transform .2s ease-in-out;
}

.ModalWrapper__edit-btn:hover, .ModalWrapper__delete-btn:hover {
    transform: translateY(-5px);
}

.CloseModal {
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 50px;
    cursor: pointer;
}