body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.Header {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto 10px;
}

.Header__title {
    color: #000;
}

.Header__contacts-btn {
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    transition: transform .2s ease-in-out;
}

.Header__contacts-btn:hover {
    transform: translateY(-5px);
}

.Line {
    height: 3px;
    background: #000;
    margin-bottom: 80px;
}