.ContactsListWrapper {
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0, rgba(14, 30, 37, 0.32) 0 2px 16px 0;
    padding: 40px;
}

.ContactsListWrapper__title-name {
    font-size: 30px;
    cursor: pointer;
    box-shadow: rgba(3, 102, 214, 0.3) 0 0 0 3px;
    padding: 15px;
    border-radius: 10px;
}

.ContactsListWrapper__img {
    border-radius: 10px;
}